.login-form {
    margin-top: 30vh;
}

.login-form .panel > .panel-heading, .panel.panel-default > .panel-heading {
    background-color: transparent;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    color: #555;
}
